* {
  margin: 0;
  background-color: black;
  color: white;
}
h3,
.name {
  color: gold;
}
.contact {
  display: block;
  margin:12PX auto;
  width: 163px;
  
}
.self {
  margin: 6px;
  height: 200px;
  width: 200px;
  border: 3px solid gold;
  border-radius: 214px;
}
hr {
  color: red;
}
.about {
  display: flex;
  justify-content: center;
  height: 16rem;
}

.name {
  position: relative;
  top: 40px;
  left: 20px;
  font-size: 35px;
  font-family: serif;
  height: 50px;
}
.course {
  position: relative;
  top: 76px;
  right: 146px;
  height: 50px;
}
.edu {
  margin: 40px;
  /* padding: 5px; */
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

h5,
p,
.h3 {
  display: block;
  text-align: center;
  margin: 4px;
  width: 163px;
  font-family: serif;
}
.account {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.link {
  text-decoration: none;
  color: white;
  position: relative;
  bottom: 4px;
  left: 6px;
  font-family: Arial, Helvetica, sans-serif;
}
.link:hover {
  color: aqua;
}

.logo {
  width: 20px;
  height: 20px;
}
span {
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.skill {
  display: flex;
  margin: 35px;
  justify-content: center;
}
.skill ul li {
  margin: 0px 10px;
}
footer {
  margin: 10px 0px 0px 0px;
  color: black;
}
/* ................................................................................... */
@media (max-width: 800px) {
  *{
    margin: 0; padding: 0;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin: 50px 0px;
    height: 18rem;
  }
  .name {
    position: relative;
    top: 0px;
    left: 12px;
    font-size: 35px;
    font-family: serif;
  }
  .account {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    width: 22rem;
    justify-content: center;
    align-items: center;
  }
  /* FOR IMGAE  */
  .self {
    height: 150px;
    width: 150px;
  }
  span {
    justify-content: center;
    align-items: center;
    margin: 8px 0px;
    margin-left: 5px;
    position: relative;
    right: 1rem;
  }
  /* for logo image  */
  .logo {
    height: 15px;
    width: 15px;
    position: relative;
    left: 5px;
  }
  .course {
    position: relative;
    top: 0rem;
    left: 0rem;
  }
  .link {
    font-size: 0.7rem;
  }
  footer {
    margin: 10px 0px 0px 0px;
    color: black;
  }
}
